{% extends "base.html" %}

{% block head %}
{% load static %}
{% endblock %}

{% block content %}

<main>
    <div class="align--center login-form">
        <div class="bd">
            <h2>Add Cert</h2>
            <form class="login" method="post" action="{% url 'portfolio:certs_create' %}">
                <div class="align--center-left">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="frm__row">
                        {{ field.errors }}
                        <label class="frm__lbl">{{ field.label_tag }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <input class="btn" type="submit" value="Create"/>
            </form>
        </div>
    </div>
</main>


{% endblock %}