{% extends "base.html" %}

{% block head %}
{% load static %}
{% endblock %}

{% block content %}

<main>
    <div class="align--center login-form">
        <div class="bd">
            <h2>Delete Cert</h2>
            <form class="login" method="post" action="">
              <div class="align--center-left">
                {% csrf_token %}
                <p>Are you sure you would like to delete {{object}}?</p>
              </div>
                <input class="btn" type="submit" value="Delete"/>
            </form>
        </div>
    </div>
</main>

{% endblock %}