{% extends "base.html" %}

{% block head %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
{% endblock %}

{% block content %}

<main>
  <h1>Experience {% if user.is_superuser %}
    <a class="button__add-item" href="{% url 'portfolio:exp_create' %}" >Add exp</a>
    {% endif %}
  </h1>
  <div class="div__pt"> 
    <div class="div__ctr">
      {% for item in object_list reversed %}
      <div class="biz-card bd-shadow card text-center">
        <div class="biz-card__hf card-header">
          {{item.company}}
        </div>
        <div class="biz-card__bd card-body">
          <h5 class="card-title">{{item.position}}</h5>
          <p class="card-text">{{item.description}}</p>
          <!-- <a href="{{item.link}}" class="button">Learn More</a> -->
          {% if user.is_superuser %}
          <a href="{% url 'portfolio:exp_update' item.id %}" class="button">Update</a>
          <a href="{% url 'portfolio:exp_delete' item.id %}" class="button">Delete</a>
          {% endif %}
        </div>
        <div class="biz-card__hf card-footer text-muted">
          {{item.start_year}} -> {{item.end_year}}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>

{% endblock %}