{% extends "base.html" %}

{% block head %}
{% load static %}
{% endblock %}

{% block content %}
<main>
  <h1>Experience {% if user.is_superuser %}
    <a class="btn__add-item" href="{% url 'portfolio:exp_create' %}" >Add exp</a>
    {% endif %}
  </h1>
  <div class="div__pt"> 
    <div class="div__ctr">
      {% for item in object_list reversed %}
      <div class="card bd--shadow  align--center">
        <div class="card__hd">
          <div class="card__hd--txt">{{item.company}}</div>
        </div>
        <div class="card__bd align--center">
          <h5 class="card__ttl">{{item.position}}</h5>
          <p class="card__txt">{{item.description}}</p>
          <!-- <a href="{{item.link}}" class="button">Learn More</a> -->
          {% if user.is_superuser %}
          <a href="{% url 'portfolio:exp_update' item.id %}" class="btn">Update</a>
          <a href="{% url 'portfolio:exp_delete' item.id %}" class="btn">Delete</a>
          {% endif %}
        </div>
        <div class="card__ft">
          {{item.start_year}} -> {{item.end_year}}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="div__pt">
    <div class="div__ctr">
      <div>
        <h2 class=""><a href="https://github.com/mhealy-dev/Resume/blob/main/Resume.pdf">Check out my Resume!</a></h2>
      </div>
    </div>
  </div>
</main>
{% endblock %}