{% extends "base.html" %} 

{% block head %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
  crossorigin="anonymous"
/>
{% load static %}
{% endblock %}

{% block content %}
<main>
  <div class="div-pt">
    <div class="div-ctr-grid">
      <h1 class="card-title">Michael Healy</h1>
      <h5 class="card-text">Wannabe Software Engineer</h5>
    </div> 
  </div>
</main>
{% endblock %}