{% extends "base.html" %}

{% block head %}
{% load static %}
{% endblock %}

{% block content %}

<main>
  <h1>Skills {% if user.is_superuser %}
    <a class="btn__add-item" href="{% url 'portfolio:skills_create' %}">Add a skill</a>
    {% endif %}</h1>
  <div class="div__pt"> 
    <div class="div__ctr">
    {% for item in object_list %}
      <div class="card bd--shadow align--center">
        <div class="card__hd">
          <div class="card__hd--txt">{{item.name}}</div>
        </div>
        <div class="card__bd">
          <div>
            <img src="{{item.icon}}" class="card__img align--center"/>
          </div>
          <div class="dd">
            {% if item.skills.all %}
            <label class="btn dd__label" aria-haspopup="true">
              Related Projects
              <ul class="dd__list">
                {% for project in item.skills.all %}
                  <li><a class="btn dd__list__item" 
                        {% if project.live_demo %}
                          href="{{project.live_demo}}">
                        {% elif project.repository %}
                          href="{{project.repository}}">
                        {% else %}
                          href="{% url 'Portfolio:projects' %}">
                        {% endif %}
                    {{project.name}}</a></li>
                {% endfor %}
              </ul>
            </label>
            {% endif %}
            <a href="{{item.link}}" class="btn">Learn More</a>
          {% if user.is_superuser %}
          <a href="{% url 'portfolio:skills_update' item.id %}" class="btn">Update</a>
          <a href="{% url 'portfolio:skills_delete' item.id %}" class="btn">Delete</a>
          {% endif %}
          </div>
        </div>
        <div class="card__ft">
          {{item.years}} Years
        </div>
      </div>
      {% endfor %}
  </div>
  </div> 
</main>

{% endblock %}
