<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  {% block head %}
  {% endblock %}
  <title>mHealy.dev</title>
</head>

<body>
  <nav class="nav-bar">
    <ul class="nav-list">
      <li class="logo">
        <a href="{% url 'portfolio:home' %}" class="nav-link">
          <span class="nav-link-text logo-text">mHealy.dev</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'portfolio:certs' %}" class="nav-link">
          <span class="nav-link-text">Certs</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'portfolio:code' %}" class="nav-link">
          <span class="nav-link-text">Code</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'portfolio:exp' %}" class="nav-link">
          <span class="nav-link-text">Exp</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'portfolio:skills' %}" class="nav-link">
          <span class="nav-link-text">Skills</span>
        </a>
      </li>
      <li class="nav-item">
        <a 
          {% if user.is_authenticated %}
            href="{% url 'portfolio:logout' %}"
          {% else %}
            href="{% url 'portfolio:login' %}" 
          {% endif %}
          class="nav-link">
          {% if user.is_authenticated %}
            <span class="nav-link-text centered-center">{{ user.username|title }}</span>
          {% else %}
            <span class="nav-link-text centered-center">Login <i class="fas fa-times-circle"></i></span>
          {% endif %}
        </a>
      </li>
    </ul>
  </nav>
  {% block content %}
  {% endblock %}
</body>
</html>
