<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  {% block head %}
  {% endblock %}
  <title>mHealy.dev</title>
</head>
<body>
  <nav class="nav-bar">
    <ul class="nav-bar__list">
      <li class="logo">
        <a href="{% url 'portfolio:home' %}" class="nav-bar__link">
          <span class="nav-bar__link--txt logo__txt">mHealy.dev</span>
        </a>
      </li>
      <li class="nav-bar__item">
        <a href="{% url 'portfolio:certs' %}" class="nav-bar__link">
          <span class="nav-bar__link--txt">Certs</span>
        </a>
      </li>
      <li class="nav-bar__item">
        <a href="{% url 'portfolio:code' %}" class="nav-bar__link">
          <span class="nav-bar__link--txt">Code</span>
        </a>
      </li>
      <li class="nav-bar__item">
        <a href="{% url 'portfolio:exp' %}" class="nav-bar__link">
          <span class="nav-bar__link--txt">Exp</span>
        </a>
      </li>
      <li class="nav-bar__item">
        <a href="{% url 'portfolio:skills' %}" class="nav-bar__link">
          <span class="nav-bar__link--txt">Skills</span>
        </a>
      </li>
      <li class="nav-bar__item">
        <a 
          {% if user.is_authenticated %}
            href="{% url 'portfolio:logout' %}"
          {% else %}
            href="{% url 'portfolio:login' %}" 
          {% endif %}
          class="nav-bar__link">
          {% if user.is_authenticated %}
            <span class="nav-bar__link--txt center">{{ user.username|title }}</span>
          {% else %}
            <span class="nav-bar__link--txt center">Login</span>
          {% endif %}
        </a>
      </li>
    </ul>
  </nav>
  {% block content %}
  {% endblock %}
</body>
</html>
