{% extends "base.html" %}

{% block head %}
{% load static %}
{% endblock %}

{% block content %}
<main>
    <div class="align--center login-form">
        <div class="bd">
            <h1>Please login</h1>
            <form class="login" method="post">
                <div class="frm__row">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.label_tag == '<label for="id_username">Username:</label>' %}
                            <div class="frm__row">
                                <label class="frm__lbl">{{ field.label_tag }}</label>
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="frm__row">
                    {% for field in form %}
                        {% if field.label_tag == '<label for="id_password">Password:</label>' %}
                            <div class="frm__row">
                                <label class="frm__lbl">{{ field.label_tag }}</label>
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <input class="button" type="submit" value="Login"/>
                {% if 'next' in request.GET %}
                <a href="{% url 'portfolio:create' %}?next={{request.GET.next}}" class="button">Create</a>
                {% else %}
                <a href="{% url 'portfolio:create' %}" class="button">Create</a>
                {% endif %}
            </form>
        </div>
    </div>
</main>
{% endblock %}
