/* Reset some default styling */
* {
  font-family: 'Montserrat';
}

:root {
  font-size: 24px;
  font-family: 'Montserrat' ;
  --bg-primary: #2a232e;
  --bg-secondary: #1a171b;
  --bd-primary: #dbdbdb;
  --card-bd-primary: #cfcfcf;
  --card-txt-primary: #2f2833;
  --txt-primary: #e6e6e6;
  --txt-secondary: #C79C6E;
  --transition-speed: 600ms;
  
}

/* styles for main html adjustments */
body{
  background-color: var(--bd-primary);
  color: #17171a;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1d1d22;
}

body::-webkit-scrollbar-thumb {
  background: #C79C6E;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}


/* styling/alignment for targeted objects */
.align--center {
  color:var(--bg-primary);
  margin:auto;
  text-align: center;
  width:auto;
}

.align--center-left {
  text-align: left;
}

.bd {
  border: 2px solid black;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  height: auto;
  margin: auto;
  padding: 5%;
  width: fit-content;
}

.bd--no--shadow {
  border: 2px solid black;
  height: auto;
  margin: auto;
  padding: 5%;
  width: fit-content;
}

.bd--shadow {
  border: 2px solid black;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.bd--basic {
  border: 2px solid black;
}

.pd--basic {
  padding: 0.75rem;
}



/* styles for buttons */
/* basic button */
.btn {
  appearance: none;
  background-color: var(--bg-primary);
  border-radius: 0;
  color: var(--txt-primary);
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: normal;
  /* margin-top: 1rem; */
  padding: 15px 32px;
  margin-bottom: .1rem;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* button:hover */
.btn:hover {
  color: var(--txt-secondary);
}

/* button add-item */
.btn__add-item {
  appearance: none;
  background-color: var(--bg-primary);
  border-radius: 0;
  color: var(--txt-primary);
  cursor: pointer;
  float: right;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: normal;
  margin-right: 30px;
  margin-top: 15px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* button add-item:hover */
.btn__add-item:hover {
  color: var(--txt-secondary);
}



/* styles for cards */
/* basic card */
.card {
  background-color: var(--card-bd-primary);
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  cursor: default;
  display: flex;
  flex-direction: column;
  margin: .7rem;
  width: 18.75rem;
}

/* card:hover */
.card:hover {
  box-shadow: 0 .2rem .2rem rgba(0.4, 0.4, 0.4, 0.4);
  position: relative;
  overflow: visible;
  transform: scale(115%);
  transition: var(--transition-speed) ease-in-out;
  z-index: 999999;
}

/* card body */
.card__bd {
  align-items: center;
  background-color: var(--card-bd-primary);
  justify-content: space-between;
  padding: 0.325rem;
  margin-bottom: .3rem;
}

/* card footer */
.card__ft {
  background-color: var(--txt-primary);
  border-bottom-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  box-sizing: border-box;
  color: var(--card-txt-primary);
  font-size: .9rem;
  font-style: italic;
  padding: 0.625rem;
  width: 100%;
}

/* card header */
.card__hd {
  background-color: var(--txt-primary);
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
  box-sizing: border-box;
  color: var(--card-txt-primary);
  font-size: 1rem;
  min-height: 2.5rem;
  padding: 0.325rem;
  width: 100%;
}

/* card header--link */
.card__hd--link {
  background-color: var(--txt-primary);
  color: var(--card-txt-primary);
  font-size: 1rem;
  padding: 0.125rem;
  text-decoration: none;
}

/* card header--link:hover */
.card__hd--link:hover {
  background-color: var(--txt-primary);
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
  box-sizing: border-box;
  color: var(--txt-secondary);
}

/* card header--text */
.card__hd--txt {
  font-size: 1rem;
  padding: 0.125rem;
  padding-top: 1.5%;
}

/* card image */
.card__img {
  display:flex;
  height: 5rem;
  margin-bottom: 2rem;
  max-width: 5rem;
  width:fit-content;
}

/* card text */
.card__txt {
  font-size: 0.875rem;
  font-style: italic;
  /* margin-top: 0.5rem; */
  /* margin-bottom: 1.2rem; */
}

/* card title */
.card__ttl {
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  margin-top: 2.3rem;
}


/* styles for div parent/child */
/* div container */
.div__ctr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin:auto;
  width:auto;
}

/* div container grid */
.div__ctr--grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content min-content;
  justify-content: center;
  margin:auto;
  width:auto;
}

/* div parent */
.div__pt {
  display: grid;
  grid-template-columns: auto repeat(2, auto);
  grid-template-rows: repeat(auto-fit, auto);
  justify-content: center;
  margin:auto;
  max-width: fit-content;
  width:auto;
}

/* div title*/
.div__ttl {
  display: flex;
  
}

/* styles for the dropdown container */
/* dropdown container */
.dd {
  position: relative;
  display: inline-block;
}

/* dropdown hover display */
.dd:hover .dd__list {
  display: block;
}


/* dropdown button */
.dd__label {
  cursor: pointer;
}

/* dropdown menu */
.dd__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* dropdown item */
.dd__list__item {
  padding: 10px 20px;
  width: 100%
}


/* Styles for forms/form inputs */
/* form align center */
.frm--center {
  color: var(--bg-primary);
  text-align: center;
  width: auto;
}

/* form center-left */
.frm--center-left {
  text-align: left;
}

/* form input */
.frm__inp {
  margin-left: 0;
  text-align: right;
  width: 18rem;
}

/* form label */
.frm__lbl {
  margin-right: 1rem;
  width: 10rem;
}

/* form row */
.frm__row {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

/* form input, select, textarea elements */
.frm__row input,
.frm__row select,
.frm__row textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  width: 18rem;
}

/* form row textarea */
.frm__row textarea {
  height: 8rem;
}

/* form buttons */
.login-frm .frm__btn {
  margin-right: 1rem;
}



/* Styles for the logo */
/* basic logo */
.logo {
  background: var(--bg-secondary);
  color: var(--txt-secondary);
  font-weight: bold;
  height: 5rem;
  margin-bottom: .5rem;
  text-align: center;
  width: 100%;
}

/* logo text */
.logo__txt {
  display: inline;
  font-size: 1.5rem;
  left: 50%;
  line-height: 5rem;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  transition: var(--transition-speed);
}


/* Styles for the collapsible navbar */
/* basic navbar */
.nav-bar {
  background-color: #272626;
  color: #fff;
  height: 100vh;
  position: fixed;
  transition: width 600ms ease;
  width: 4.5rem; 
  z-index: 99 ;
}

/* navbar hover */
.nav-bar:hover {
  width: 13.5rem;
}

.nav-bar:hover .nav-bar__link--txt {
  display: inline;
}

.nav-bar__item {
  width: 100%;
}

.nav-bar__list {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar__link {
  align-items: center;
  color: #fff;
  display: flex;
  filter: grayscale(100%) opacity(0.7);
  font-size: 1.3rem;
  height: 5rem;
  justify-content: center;
  line-height: 5rem;
  text-decoration: none;
  transition: 600ms;
}

.nav-bar__link:hover {
  background: var(--bg-secondary);
  color: var(--txt-secondary);
  filter: grayscale(0%) opacity(1);
}

.nav-bar__link--txt {
  display: none;
}



/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  :root {
    font-size: 16px;
  }

  main {
    margin-left: 0;
    padding: 0.5rem;
  }

  /* Adjust form styles for smaller screens */
  .frm__inp,
  .frm__lbl,
  .frm__row input,
  .frm__row select,
  .frm__row textarea {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
  }
  
  .nav-bar {
    width: 4.5rem;
  }

  .nav-bar:hover {
    height: 3rem;
    width: 4.5rem; 
  }

  .nav-bar:hover .logo__txt {
    display: none;
  }

  .nav-bar__link--txt {
    display: none;
  }
}

/* Media query for screens smaller than 576px */
@media (max-width: 576px) {
  :root {
    font-size: 14px;
  }

  main {
    margin-left: 0;
    padding: 0.5rem;
  }

  .card {
    width: 100%;
  }

  /* Adjust form styles for smaller screens */
  .frm__inp,
  .frm__lbl,
  .frm__row input,
  .frm__row select,
  .frm__row textarea {
    width: 100%; /* Make form elements span the entire width */
    max-width: 100%; /* Ensure elements don't exceed screen width */
  }
  
  .nav-bar {
    height: 3rem;
    width: 4.5rem;
  }

  .nav-bar:hover {
    height: 50%;
    width: 4.5rem;
  }

  .nav-bar:hover .logo__txt {
    display: none;
  }

  .nav-bar__link--txt {
    display: none;
  }
}